* {
    margin: 0px;
}

.auth {
    height: 703px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url("./bg-hero.png");
    background-size: cover;
    background-position: center center;
    background-color: #000;

    text-align: center;
    padding-top: 100px;
}

.container {
    width: 50%;
    margin: 0px auto;
    
    border: 1px solid antiquewhite;
}

.form_auth {
    padding: 10px;
}

.head_form {
    color: antiquewhite;
}

.login  {
    padding: 10px;
}

.password {
    padding: 10px;
}

.login_label , .password_label {
    color: antiquewhite;
}

.check {
    color: antiquewhite;
}

.button_enter {
    padding: 20px;
}

.btn_ent {
    width: 200px;
    height: 30px;
}



